@page
@model ClientServer_gRPC_Client.WebUi.Pages.Students.EditModel
@{
}

<form method="post">
    <input type="hidden" asp-for="Student.Id" />

    <div class="form-group">
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Student.Description"></label>
        <textarea asp-for="Student.Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>